<div class="container container-padded">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="form-title">
        <h1>Add a hero</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <%= simple_form_for(@hero) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder:"King Kong" %>
        <%= f.input :skill, collection: Hero::SKILLS, prompt: "Main Skill" %>
        <%= f.input :address, placeholder:"16 villa Gaudelet 75011 Paris" %>
        <%= f.input :description, label:"Tell us a bit more", placeholder:"Hey, I am King Kong and I LOVE ironing! Please feel free to contact me." %>
        <%= f.input :price, placeholder: "100$" %>
        <%= f.input :picture %>
        <%= f.button :submit, "Add your hero", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
