

<!-- banner -->

<div class="hero-banner text-center" style="background-image: url('<%= @hero.picture.url(:large) %>')">
  <div class="hero-banner-shadow"></div>
  <div class="hero-banner-content">
    <h1><%= @hero.name %></h1>
    <p><%= @hero.description %></p>
  </div>
</div>
<div class="container-fluid">
  <div class="content-background"></div>
  <div class="row">
    <!-- price on the right -->
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="content-item text-center" style="margin-top: 40px">
        <%= simple_form_for [@hero, @reservation] do |f| %>
          <%= f.input :check_in, as: :date %>
          <%= f.input :check_out, as: :date %>
          <%= f.submit method: :post, class: "btn btn-success" %>
        <%end %>
        <h3>Price per day: <%= @hero.price%> €</h3>
          <!-- link to the good picture -->
        <!-- <div class="profile-picture picture-left" style="background-image: url('<%#= @hero.owner.picture.url(:medium) %>')"></div> -->
      </div>
    </div>

<!-- Google Map integration -->
    <div class="col-xs-12 col-md-4">
      <div class="map">
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              alert('<%= j @alert_message %>');
            });
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>



