

<!-- if owner -->
<%- if current_user.id == @hero.user_id %>
  <div class="hero-banner" style="background-image: url('<%= @hero.picture.url(:large) %>')">
  <div class="hero-banner-shadow"></div>
    <div class="hero-banner-content">
      <h2 class="hero-banner-title"><%= @hero.name.upcase %></h2>
      <div id="description"><p><i>"<%= @hero.description %>"</i></p></div>
      <div id="skill"><p>For? <%= @hero.skill %></p></div>
      <div id="price"><p><%=@hero.price%>€ per day</p></div>

        <div id="links">
          <%= link_to 'Edit my hero profile', edit_hero_path(@hero.id), class:"btn btn-success" %>
          <%= link_to "Delete", hero_path(@hero.id), method: :delete, class:"btn btn-danger", data: { confirm: "Are you sure?" } %>
        </div>
    </div>
  </div>

<!-- if customer -->
  <% else %>
    <div class="hero-banner" style="background-image: url('<%= @hero.picture.url(:large) %>')">
      <div class="hero-banner-shadow"></div>
      <div class="hero-banner-content">
        <h2 class="hero-banner-title"><%= @hero.name.upcase %></h2>
        <div id="description"><p><i>"<%= @hero.description %>"</i></p></div>
        <div id="skill"><p>For? <%= @hero.skill %></p></div>
        <div id="price"><p><%=@hero.price%>€ per day</p></div>
      </div>
      <div class="banner-form">
            <%= simple_form_for :search, url: heros_path, method: :get do |f| %>
              <div class="content-item-flex content-item-flex-justified">
                <div class="banner-form-marged">
                  <%= f.input :check_in, label: false, placeholder: "Start date", input_html: { data: {provide: :datepicker} } %>
                </div>
                <div class="banner-form-marged">
                  <%= f.input :check_out, label: false, placeholder: "End date", input_html: { data: {provide: :datepicker} } %>
                </div>
                <div class="banner-form-marged">
                  <%= f.button :submit, "Rent me", class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
      </div>
    </div>
  <% end%>


<!-- Google Map integration -->
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="map">
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var coord = '<%= raw @hero_coordinates %>';
              });
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
