

<!-- banner -->

<div class="hero-banner text-center" style="background-image: url('<%= @hero.picture.url(:large) %>')">
  <div class="hero-banner-shadow"></div>
  <div class="hero-banner-content">
    <h1><%= @hero.name %></h1>
    <p><%= @hero.description %></p>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <div class="profile-picture">
          <!-- link to the good picture -->
      </div>
    </div>

    <!-- price on the right -->
    <div class="col-xs-12 col-sm-4">

      <div class="content-item text-center">
        <%= simple_form_for [@hero, @reservation] do |f| %>
          <%= f.input :check_in, as: :date %>
          <%= f.input :check_out, as: :date %>
          <%= f.submit method: :post, class: "btn btn-success" %>
        <%end %>
        <h3>Total price: <%= @hero.price%> Euros</h3>
      </div>

    </div>


  </div>
</div>



