<div class="user-profile">
</div>
  <div class="container padded">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1">
        <h2 class ="user-profile-title">
          <% if @user == current_user %>
            YOUR PROFILE
          <% else %>
            <%= @user.name %> PROFILE
          <% end %>
        </h2>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-4 col-xs-offset-1">
          <div class="profile-picture", style="background-image: url('<%= @user.picture.url(:medium)%>')"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1">
        <h3>
          INFORMATIONS
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1">
        <p>
          <div id="user-details">
            <p>
              <% if @user.name %>
              <%= @user.name %>
            <% end %>
            </p>
            <p>
              <% if @user.email %>
              <i class="fa fa-envelope">   <%= @user.email %></i>
              <% end %>
            </p>
            <p>
              <% if @user.phone_number %>
                <i class="fa fa-phone">    <%= @user.phone_number %></i>
              <% end %>
            </p>
          </div>
        <p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1">
        <div class="link-btn">
          <%= link_to 'See my reservations', user_reservations_path(@user), class:"btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="simple-form">
      <div class="col-xs-12 col-xs-offset-1">
        <h3>
          UPDATE PROFILE INFORMATIONS
        </h3>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <%= simple_form_for @user do |f| %>
          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :phone_number %>
          <%= f.input :picture, label:"Update picture"  %>
          <%= f.button :submit, "Upload", class:"btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>



