<div class="banner text-center">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>oh my hero!</h1>
    <h3>The only website where you can rent a super hero</h3>
  </div>
  <div class="banner-form">
  <%#= link_to "I WANT ONE",heros_path, {class: "btn btn-primary"} %>
    <%= simple_form_for :search, url: heros_path, method: :get do |f| %>
      <div class="content-item-flex content-item-flex-justified">
        <div class="banner-form-marged">
          <%= f.input :address, label: false, placeholder: "Where?" %>
        </div>
        <div class="banner-form-marged">
          <%= f.input :check_in, label: false, placeholder: "Start date", input_html: { data: {provide: :datepicker} } %>
        </div>
        <div class="banner-form-marged">
          <%= f.input :check_out, label: false, placeholder: "End date", input_html: { data: {provide: :datepicker} } %>
        </div>
        <div class="banner-form-marged">
          <%= f.input :skill, label: false, collection: Hero::SKILLS, prompt: "Main Skill" %>
        </div>
        <div class="banner-form-marged">
          <%= f.button :submit, "Search!", class: "btn btn-info" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
