<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1>Your registred reservations</h1>
      <div class="row">
        <%- @reservations.each do |reservation| %>
          <div class="col-xs-12 col-md-4">
            <h4><%= image_tag reservation.hero.picture.url(:thumb), class: "profile-picture profile-picture-small" %> | <%= reservation.hero.name %></h4>
            <p><%= reservation.hero.description %></p>
            <hr>
            <p>
              Status:
              <%- if reservation.validated %>
                <span class="validation">Validated</span>
                <% else %>
                <span class="validation">Pending</span>
              <% end -%>
            </p>
            <hr>
            <p>Dates:</p>
            <p>From <%= reservation.check_in %></p>
            <p>to <%= reservation.check_out %></p>
            <hr>
            <p>Price per day: <%= reservation.hero.price %></p>
            <%= link_to "See more", hero_reservation_path(reservation.hero_id, reservation.id), class: "btn btn-primary" %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>



