<div class="container-fluid">
  <div class="content-background"></div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="content-item-title text-center">
        <h1>Your registred reservations</h1>
      </div>
      <hr class="delimitation-title">
      <%- @reservations.each_with_index do |reservation, index| %>
        <div class="reservation">
          <div class="reservation-picture">
            <div class='reservation-picture-content', style="background-image: url('<%= reservation.hero.picture.url(:large) %>')"></div>
          </div>
          <div class='reservation-body'>
            <h3>
              #<%= index + 1 %> - <%= reservation.hero.name %>
              <span>
                 | <%= reservation.hero.description %>
              </span>
            </h3>
            <p>
              <%= reservation.check_in.strftime("From %a %d %b %Y") %> <%= reservation.check_out.strftime("to %a %d %b %Y") %> | Price per day: <%= reservation.hero.price %>€
            </p>
          </div>
          <div class='reservation-controls'>
            <i class="fa fa-pencil-square-o reservation-control"></i>
            <i class="fa fa-trash-o reservation-control"></i>
          </div>
          <%- if reservation.validated %>
            <span class="validation validation-success"><i class="fa fa-check"></i></span>
            <% else %>
            <span class="validation validation-warning"><i class="fa fa-refresh"></i></span>
          <% end -%>
        </div>
        <hr class="delimitation">
      <% end -%>
      </div>
    </div>
  </div>
</div>



