<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <%= image_tag @hero.picture.url(:thumb), class: "profile-picture" %>
            <h4><%= @hero.name %></h4>
            <hr>
            <p><%= @hero.description %></p>
            <hr>
            <p><%= @hero.address %></p>
          </div>
          <div class="col-xs-12 col-md-4">

          </div>
          <div class="col-xs-12 col-md-4">
            <%= image_tag @user.picture.url(:thumb), class: "profile-picture" %>
            <h4><%= @user.name %></h4>
            <hr>
            <p><%= @user.email %></p>
            <hr>
            <p><%= @user.phone_number %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
