<div class="container-fluid text-center">

  <!-- thank you message -->
  <div class="container-padded"></div>
  <div class="row">
    <div class="col-xs-12" >
      <div id ="confirmation-thank">
        <p>YOU ROCK!</p>
      </div>
      <div id ="confirmation-message">
        <p>Thank you for your order, we're now waiting for the owner's answer.</p>
      </div>
    </div>
  </div>

<!-- Hero information summary -->
      <div class="row">
        <div class="content-item-flex content-item-flex-center">
          <div class="col-xs-12 col-md-4">
            <div class="content-item">
              <div class="profile-picture profile-picture-left", style="background-image: url('<%= @hero.picture.url(:medium) %>')"></div>
              <h4 class="reservation-body"><%= @hero.name %></h4>
              <hr>
              <p><%= @hero.description %></p>
              <hr>
              <p><%= @hero.address %></p>
            </div>
          </div>

          <!-- Reservation Summary -->
          <div class="col-xs-12 col-md-4">
            <div class="content-item">
              <%- if @reservation.validated %>
                <span class="validation validation-success"><i class="fa fa-check"></i></span>
                <% else %>
                <span class="validation validation-warning"><i class="fa fa-refresh"></i></span>
              <% end -%>
              <hr>
              <h4>Booking</h4>
              <p><%= @reservation.check_in.strftime("from %d/%m/%Y") %></p>
              <p><%= @reservation.check_out.strftime("to %d/%m/%Y") %></p>
              <hr>
              <p>Price per day: <%= @hero.price %></p>
              <p>TOTAL PRICE: <%= @hero.price * 3 %> </p>
            </div>
          </div>

          <!-- User information -->
          <div class="col-xs-12 col-md-4">
            <div class="content-item">
              <div class="profile-picture profile-picture-right" style="background-image: url(<%= @user.picture.url(:medium) %>)"></div>
              <h4><%= @user.first_name %></h4>
              <hr>
              <p><%= @user.email %></p>
              <hr>
              <p><%= @user.phone_number %></p>
              <%= link_to "View my profile", user_path(@user), method: :patch%>
            </div>
          </div>
        </div>

      </div>

      <div class="row padded">
    <!-- validate reservation -->
        <div>
          <%= link_to "Confirm booking", hero_reservation_validation_path(@hero.id, @reservation.id), method: :patch, class: "btn btn-primary" %>
          <%= link_to "See all my bookings", user_reservations_path(@user), class: "btn btn-primary" %>
        </div>
      </div>

    <!-- go to index -->
    <div class="row">
        <p>Or you can consult our super-amazing repository!</p>
        <%= link_to "Rent a Hero", heros_path, class: "btn btn-primary" %>
    </div>
    <div class="container-padded"></div>
    </div>
      </div>
    </div>
  </div>
</div>
