<div class="container-fluid text-center">
  <div class="content-background"></div>

  <!-- thank you message -->
  <div class="container-padded"></div>
  <div class="row">
    <div class="col-xs-12" >
      <div id ="confirmation-thank">
        <p>YOU ROCK!</p>
      </div>
      <div id ="confirmation-message">
        <p>Thank you for your order, we're now waiting for the owner's answer.</p>
      </div>
    </div>
  </div>




<!-- Hero information summary -->
      <div class="row">
        <div class="content-item-flex content-item-flex-center">
          <div class="col-xs-12 col-md-4">
            <div class="content-item">
              <div class="profile-picture profile-picture-left", style="background-image: url('<%= @hero.picture.url(:medium) %>')"></div>
              <h4><%= @hero.name %></h4>
              <hr>
              <p><%= @hero.description %></p>
              <hr>
              <p><%= @hero.address %></p>
            </div>
          </div>

          <!-- Reservation Summary -->
          <div class="col-xs-12 col-md-4">
            <div class="content-item">
              <% if @reservation.validated %>
                <span class="validation">Validated</span>
                <% else %>
                <span class="validation">Pending</span>
              <% end %>
              <hr>
              <h4>Reservation</h4>
              <p><%= @reservation.check_in.strftime("from %d/%m/%Y") %></p>
              <p><%= @reservation.check_out.strftime("to %d/%m/%Y") %></p>
              <hr>
              <p>Price per day: <%= @hero.price %></p>
            </div>
          </div>

          <!-- User information -->
          <div class="col-xs-12 col-md-4">
            <div class="content-item">
              <div class="profile-picture profile-picture-right", style="background-image: url('<%= @user.picture.url(:medium).include?("missing") ? "#{Rails.root}/app/assets/images/user-placeholder.jpg" : "@user.picture.url(:medium)" %>')"></div>
              <h4><%= @user.first_name %></h4>
              <hr>
              <p><%= @user.email %></p>
              <hr>
              <p><%= @user.phone_number %></p>
            </div>
          </div>
        </div>

      </div>

    <!-- validate reservation -->
      <div>
        <%= link_to "Validate reservations", hero_reservation_validation_path(@hero.id, @reservation.id), method: :patch, class: "btn btn-success" %>
        <%= link_to "See all my reservations", user_reservations_path(@user), class: "btn btn-primary" %>
      </div>


    <div class="container-padded"></div>

      <!-- suggestions -->

    <p>While you're at it, why don't you book another hero?</p>

    <div class="carousel">
      <div>your content</div>
      <div>your content</div>
      <div>your content</div>
    </div>

    <!-- go to index -->
      <p>Or you can consult our super-amazing repository!</p>
        <%= link_to "Go!", heros_path, class: "btn btn-primary" %>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('.carousel').slick({
          setting-name: setting-value
        });
      });
    </script>


      </div>
    </div>
  </div>
</div>
