<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Francois+One|Bangers' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500|Montserrat|Varela' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
