<!DOCTYPE html>
<html>
  <head>
    <title>Oh My Hero: Rent a superhero</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500|Montserrat|Varela' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- slick -->
 <!--    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/> -->
  </head>
  <body>


    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>
    <%= yield %>

    <!-- google map -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>
    <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
    <%= javascript_include_tag '"autocomplete.js"' %>


    <%= javascript_include_tag 'application' %>

    <%= yield(:after_js) %>

    <!-- jquery -->
<!--     // <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    // <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->

    <!-- slick -->

<!--     // <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script> -->
  </body>
</html>
